html, body {
  width: 100%;
  height: 100%;
  background: #eee;
}

#box {
  padding: 0 20px;
  box-sizing: border-box;
}

#box h2 {
  font-size: 18px;
  color: #666;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 2px solid #ee7600;
  line-height: 50px;
  font-weight: bold;
}

#box .pro_listCont {
  border-collapse: collapse;
}

#box .pro_listCont .title {
  width: 100%;
  font-size: 0;
  height: 30px;
  line-height: 30px;
}

#box .pro_listCont .title .allcheckbox {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

#box .pro_listCont .title .allcheckbox #allcheck {
  width: 20px;
  height: 20px;
}

#box .pro_listCont .title .pro_inf {
  width: 95%;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #ddd;
  height: 100%;
  border-left: none;
  padding-left: 10px;
}

#box .pro_listCont .pro_table {
  width: 100%;
  border-collapse: collapse;
}

#box .pro_listCont .pro_table .pro_title {
  width: 100%;
}

#box .pro_listCont .pro_table .pro_title th {
  border: 1px solid #ddd;
  height: 30px;
  color: #666;
}

#box .pro_listCont .pro_table .pro_title th:nth-child(1) {
  width: 5%;
}

#box .pro_listCont .pro_table .pro_title th:nth-child(1) em {
  background: url(../img/index1.png);
  display: inline-block;
  height: 20px;
  width: 10px;
  background-size: 100% 100%;
}

#box .pro_listCont .pro_table .pro_con .pro_li .pro_item {
  text-align: center;
  font-size: 16px;
  color: #444;
  border: 1px solid #ddd;
}

#box .pro_listCont .pro_table .pro_con .pro_li .check_box input {
  width: 18px;
  height: 18px;
  background: #ccc;
}

#box .pro_listCont .pro_table .pro_con .pro_li .pro_name {
  color: #d41d1d;
}

#box .pro_listCont .pro_table .pro_con .pro_li .pro_nowprice {
  color: #d41d1d;
}

#box .pro_listCont .table_btn {
  margin-top: 30px;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
}

#box .pro_listCont .table_btn .delbtn {
  float: left;
  width: 60px;
  height: 30px;
  cursor: pointer;
  background: #ee7600;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  border: 1px solid #504343;
}

#box .pro_listCont .table_btn .delbtn:hover {
  background: #7ec753;
}

#box .pro_listCont .table_btn .pagebtn {
  float: right;
}

#box .pro_listCont .table_btn .pagebtn input {
  cursor: pointer;
  padding: 6px 10px;
  color: #fff;
  background: #363434;
  border-radius: 3px;
  border: 1px solid #4d4747;
}

#box .pro_listCont .table_btn .pagebtn input:hover {
  background: #7e4b21;
}

#box .pro_listCont .table_btn .pagebtn .page {
  display: inline-block;
}

#box .pro_listCont .table_btn .pagebtn .page .active {
  color: #cec221;
  background: #7e4b21;
}
