
#box{
   #contain{
    width: 1000px;
    margin: auto;
    .title_jk{
        width: 100%;
        margin: 35px auto;
        height: 60px;
        .cart_name{
        font-size: 24px;
        font-weight: 400;
        // height: 42px;
        line-height: 42px;
        display: inline;
        color: #666;
    }
     .title_right{
        .header_r{
        //    height: 30px;
            margin-top: 8px;
            width: 480px;
            font-size: 0;
            li{
                width: 25%;
                background: #ccc;
                height: 5px;
                display: inline-block;
                position: relative;
                span{
                    position: absolute;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    display: block;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    background: #ccc;
                    color: #fff;
                    font-size: 12px;
                    line-height: 24px;
                    text-align: center;
                }
                p{
                    position: absolute;
                    font-size: 12px;
                    color: #ccc;
                    top: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            li:nth-child(1){
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            li:nth-last-child(1){
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            .action{
                background: #3797eb;
                span{
                    background: #3797eb;
                }
                p{
                    color: #3797eb;
                }
            }
            
            
        }
    }
    }
    .shopCont{
        width: 100%;
        .my_cart_log{
           margin-bottom: 20px;
            #login_pro{
                height: 43px;
                padding-left: 24px;
                width: 974px;
                display: block;
                border: 1px solid #edd28b;
                background: #fffdee;
                font-size: 12px;
                span{
                    line-height: 26px;
                    display: block;
                    height: 26px;
                    margin-top: 9px;
                    color: #e4393c;
                    em{
                        width: 20px;
                        height: 16px;
                        margin-right: 5px;
                        display: inline-block;
                        vertical-align: -3px;
                        background: url(../img/shoppingCarimgs/order2016.png) -116px 0 no-repeat;
                    }
                }
                #login{
                    display: inline-block;
                    height: 26px;
                    line-height: 26px;
                    text-align: center;
                    font-style: normal;
                    background: url(../img/shoppingCarimgs/order2016.png) 0 -30px no-repeat;
                    width: 68px;
                    color: #fff;
                    margin-top: 9px;
                    cursor: pointer;
                    font-size: 12px;
                }
            }
        }
        .tabs{
            font-size: 0;
            .tab_item{
                position: relative;
                line-height: 40px;
                border: 1px solid #ddd;
                display: inline-block;
                border-bottom:none;
                width: 120px;
                font-size: 12px;
                text-align: center;
                cursor: pointer; 
            }
            .active::before{
            position: absolute;
            top: -2px;
            content: '';
            left: 0;
            right:0;
            height: 4px;
            background: #3797eb; 
            }

        }
        .my_cart_goods{
            height: 41px;
            width: 1000px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            background: #f3f3f3;
            line-height: 41px;
            padding-left: 26px;
            font-size: 0; 
            color: #333;
            font-size: 12px;
            #checkall{
                width: 13px;
                height: 13px;
                border: 1px solid #c5c5c5;
            }
            .quanxuan{
                
                display: inline-block;
               
            }
            p{

                display: inline-block;
            }
            .goods_msg{
                width: 405px;
                padding-left: 30px;
            }
            .goods_price{
                width: 162px;
                padding-left: 5px;
            }
            .goods_num{
                width: 111px;
            }
            .goods_count{
                width: 120px;
                text-align: center;
                margin-left: 7px;
            }
            .goods_ctrl{
                width: 50px;
            }
        }
        .pro_contain{
            width: 100%;
            .producter{
                height: 30px;
                padding-left: 25px;
                padding-top: 20px;
                span{
                    margin-left: 10px;
                    font-size: 12px;
                    color: #fff;
                        display: inline-block;
                        background: #3797eb;
                        border-radius: 2px;
                        height: 20px;
                        width: 118px;
                        text-align: center;
                         
                }
            }
            .orderbox{
                width: 100%;
                .shop_pro{
                    
                    height: 118px;
                   
                    .product_class{
                        height: 100%;
                        width: 100%;
                        // line-height: 118px;
                        // box-sizing: border-box;
                        border-bottom: 1px solid #bbb;
                        dd{
                            padding-left: 26px;
                            padding-top: 20px;
                            padding-bottom: 15px;
                            border: 1px solid #ddd;
                            border-top: 1px solid #bbb;
                            background: #f3fbfe;
                            border-bottom: none;
                            // height: 118px;
                            // line-height: 118px;
                            .imgbox{
                                border: 1px solid #ddd;
                                display: inline-block;
                                img{
                                    height: 80px;
                                    width:80px;
                                }
                            }
                            div{
                                display: inline-block;
                            }
                            .products_name{
                                width: 360px;
                                // float: left;
                                color: #3c3c3c; 
                                .shop_name{
                                    font-size: 12px;
                                    color: #444;
                                    width: 250px;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }
                                .shop_spec{
                                    em{
                                        color: #999;
                                        font-size: 12px;
                                    }
                                    span{
                                        font-size: 9px;
                                        color: #999;
                                    }
                                }
                            }
                             .price_info{
                                width: 142px;
                                font-size: 14px;
                                font-family: Arial;
                                 .pro_price{
                                     font-size: 10px;
                                     color: #333;
                                     text-align: center;
                                 }
                             } 
                             .shop_nums{
                                width: 81px;
                                height: 24px;
                                border: 1px solid #e8e8e8;
                                // float: left;
                                margin-right: 60px;
                                font-family: "Microsoft YaHei";
                                font-size: 0px;
                                a{
                                    width: 21px;
                                    height: 24px;
                                    background: #f0f0f0;
                                    display: inline-block;
                                    vertical-align: middle;
                                    color: #ccc;
                                    font-size: 24px;
                                    line-height: 24px;
                                    text-align: center;
                                }
                                input{
                                    width: 39px;
                                    height: 24px;
                                    border: none;
                                    text-align: center;
                                    vertical-align: middle;
                                }
                             }
                             .xiaoji{
                                 color: #e6393c;
                                 font-size: 12px;
                                 margin-left: 50px;

                             }
                             .del{
                                 cursor: pointer;
                                 font-size: 12px;
                                 color: #333;
                                 margin-left: 54px;
                             }
                             .del:hover{
                                color: #3797eb;

                             }

                            
                        }
                    }
                }
            }
            .cart_toolbar{
                height: 60px;
                margin-top: 33px;
                background: #f9f9f9;
                font-size: 12px;
                color: #333;
                .cart_left{
                   padding-top: 21px;
                    // height: 60px;
                    line-height: 12px;
                    padding-left: 26px;
                    
                    #check_pro{
                      margin-right: 14px;
                    }
                    .quanxuan{
                        margin-right: 14px;
                    }
                    .delcheck{
                        margin-right: 17px;
                        cursor: pointer;
                    }
                    .delcheck:hover{
                        color: #3797eb;
                    }
                }
                .cart_right{
                    width: 400px;
                    #submit{
                        cursor: pointer;
                        width: 150px;
                        height: 60px;
                        background: #ccc;
                        // background: #e4393c;
                        text-align: center;
                        line-height: 60px;
                        color: #fff;
                        font-size: 22px;
                    }
                    .total{
                        margin-top: 15px;
                        margin-right: 31px;
                        font-size: 12px;
                        color: #999;
                        .total_price{
                            color: #e4393c;
                            font-size: 14px;
                        }
                    }
                    .goods_num{
                        margin-right: 32px;
                        margin-top: 15px;
                        p{
                            color: #999;
                            width: 85px;
                            .all_num{
                                color: #e4393c;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
   
} 
}
